section, footer {
    display: block;
}

main {
    width: 760px;
    margin: 10px auto;
    box-shadow: 0 0 10px #999999;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
header {
    width: 760px;
    margin: 110px;
    background-repeat: no-repeat;
    margin-bottom: 40px; 
}

section {
    display: inline-block;
    margin: 25px 25px;
}
 
footer {
    width: 100%;
    height: 30px;
    background-color: rgb(236, 236, 236);
    margin-top: 40px;
}

section.thumb {
    display: inline-block;
    cursor: pointer;
    width: 120px;
    height: 120px;
    transition: all 0.3s ease-out;
}

section.thumb:hover {
    transform: scale(1.3);
}